$dashColor: rgb(0, 118, 210);
$dashColorInvert: rgb(0,0,210);
$col1:#605543;
$col-back:#CDC7BA;
$col2:#B5B8C1;
$col3:#767C89;
$col-pen:#312C30;
  $menuBack: #004D40; //colors.teal.darken4,
  $menuFont: #00796B; //colors.teal.lighten2,
  $Font: #B2DFDB; //teal lighten4
  $background: $menuBack;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');